.container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 10px);
}

.messages {
    width: 40%;
    margin: 16px;
    margin-top: 8%;
    background: red;
    border-radius: 16px;
    padding: 24px;
}

.messages-header {
    display: flex;
    margin-bottom: 8px;
}

.messages-header > img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    height: 35px;
}

.messages-header > h2 {
    margin: 0;
}

.chat-area {
    height: calc(100vh - 330px);
    background: white;
}



//////
/// 

.chatbox {
    padding: 15px;
    list-style: none;
    overflow-y: auto;
    height: 400px;
  }
   
  .chatbox li {
    margin-bottom: 10px;
  }
   
  .chat p {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
   
  .chat-outgoing p {
    background-color: #162887;
    align-self: flex-end;
    color: #fff;
  }
   
  .chat-incoming p {
    background-color: #eaeaea;
  }
  


.chat-input {
  padding: 10px;
    display: flex;
    justify-content:center;
}
 
.chat-input textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  resize: none;
  outline: none;
  overflow-y: scroll;
  background-color: #dcdcdc85;
  font-size: 16px;
  color: green;
  font-weight: 600;
//   margin-top: -10px;
//   margin-left: -15px;
  height: 71px;
}
 
// #cross {
//   float: right;
//   position: relative;
//   top: -38px;
//   left: -15px;
//   cursor: pointer;
//   color: white;
//   font-weight: bolder;
//   font-size: 28px;
// }
 
// #cross:hover {
//   color: red;
//   transition: all .5s;
// }
 
.chatbox .chat p.error {
  color: #ffffff;
  background-color: #ff3737e8;
}
 
#sendBTN {
  width: 100%;
  padding: 8px;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #2F8D46;
  cursor: pointer;
  color: white;
  margin-top: 12px;
}
 
.lastMessage {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 600;
  color: darkgreen;
  margin-left: 550px;
}